html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    margin-top: 0;
}

.site-wrap {
    max-width: 700px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: justify;
}

.align-left {
    float: left;
    margin-right: 20px;
    transform: translateX(-50%) scale(0.8);
}

.align-right {
    float: right;
    margin-left: 20px;
    transform: translateX(50%) scale(0.8);
}

.slide-in {
    opacity: 0;
    transition: all 750ms;
}

.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}